* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.board {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: lightblue;
}
.board div {
  position: absolute;
}
