* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.board {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: lightblue;
}
.board div {
  position: absolute;
}

.boardHeader
{
  background-color: #333333;
  position: relative;
  top: -40px;
  height: 40px;
}
.boardHeader > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}
.boardHeader > ul > li{
  float: left;
  margin : 10px 10px;
}
