* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.board {
  margin-top: 10%;
  width: 40em;
  height: 40em;
  background-color: lightblue;
}
.board div {
  position: absolute;
}
